{% extends "layout.html" %}

{% block title %}
    Stock portfolio
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th scope="col">Symbol</th>
            <th scope="col">Number of shares</th>
            <th scope="col">Price per share</th>
            <th scope="col">Value</th>
        </tr>
    </thead>
    <tbody>
        {% for row in data %}
            <tr>
                <td>{{ row["symbol"] }}</td>
                <td>{{ row["shares"] }}</td>
                <td>{{ row["price"] }}</td>
                <td>{{ row["value"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <th scope="1">Total -></th>
            <th scope="1">{{ money }}</th>
        </tr>
    </tfoot>
</table>
{% endblock %}
